.aboutus{

    background-color: #333333;
    padding: 30px,40px;
}

.buttons{


    text-align:center;
display:flex;
justify-content: center;
align-items: center;
padding: 30px 40px;

}

.poems{
 background-color: white;
text-align:center;
display:flex;
justify-content: center;
align-items: center;
padding: 30px 40px;

}

.foot-socials{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    background-color: darkcyan;
    height: 40vh;
    display: flex;
}