.aboutus{

    background-color: #333333;
    padding: 30px,40px;
}

.buttons{


    text-align:center;
display:flex;
justify-content: center;
align-items: center;
padding: 30px 40px;

}

.poems{
    background-color: #333333;
    text-align:center;
display:flex;
justify-content: center;
align-items: center;
padding: 30px 40px;

}