body{
    overflow-x: hidden;
}

.carousel-inner{

    height: 100vh;
}
.red{

height: 200px;
background-color: red;
}
.green{

    height: 200px;
    background-color: green;
}

.aboutus{
    padding: 30px,40px;
    background-color: #ac1313;
    height: 40vh;
    
}
.certifications
{
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
height: 80vh;

}
.form-section{

    padding: 30px 40px;
}